<footer>
  <!-- Otros elementos del pie de página -->

<!-- GitHub -->
  <a href="https://github.com/ZimaChina" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-github" style="margin-right: 10px;"></i>
  </a>

  <!-- LinkedIn -->
  <a href="https://www.linkedin.com/in/fernando-duarte-a138a2120" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-linkedin" style="margin-right: 10px;"></i>
  </a>

  <a href="https://duartefernando1710.artstation.com/" target="_blank" rel="noopener noreferrer">
    <i class="fa-brands fa-artstation"></i>
  </a>
  
</footer>


<footer class="footer">
  &copy; <%= new Date().getFullYear(); %> Fernando Duarte - Built with NodeJs & MongoDB
</footer>
