<div class="about-container">
<img src="/img/profile.webp" alt="ferprofile" class="profile-image">
<h2>Fernando Duarte</h2>
<h3 style="margin-bottom: 1px;">About me</h3>
  <p>text
  </p>
<h3 style="margin-bottom: 1px;">First Steps</h3>
<p>text
</p>
<h3 style="margin-bottom: 1px;">Projects</h3>
<p>text
</p>
<h3 style="margin-bottom: 1px;">Title 3</h3>
<p>text
</p>
</div>
