<div class="about-container">
<img src="/img/profile.webp" alt="ferprofile" class="profile-image">
<h2>Fernando Duarte</h2>
<h3 style="margin-bottom: 1px;">About me</h3>
  <p>Argentinian. 30 years old. I love drawing and painting. I worked mostly in administration, behind a desk and a monitor.
  </p>
<h3 style="margin-bottom: 1px;">First Steps</h3>
<p>I'd like to go straight forward. I started fixing things that I still don't know how they worked, in Arduino, for my 3d printer.
  A few months later, started with Python courses for web developing. Django, MySql, Flask.
My first big step was on Alkemy Campus. By solving a challenge for Data Analytics we had the chance to get into a couple of team projects by working with technologies for data engineering. Involving techs as Airflow, Sql, Hadoop and MapReduce model, Amazon S3, just to name the main ones that helped us on these. 
For more information about it you can get into my github, where I forked our project as OT301-Python.
</p>
<h3 style="margin-bottom: 1px;">Projects</h3>
<p>I keep making progress (and struggling) into new technologies, such as Javascript, Nodejs, MongoDB, Cloud computing, and other softwares that might help me with web developing. 
</p>
<h3 style="margin-bottom: 1px;">What can you expect from me?</h3>
<p>A responsible person that has worked way too many hours at night shifts and at the same time, spare as many hours as possible to learn what was necessary to help, solve and fix a problem.
    By the way, even tho I'm native spanish speaker, I love having chats, regular or formal conversations in English. 
    
    Hope we find ourselves at the same team in a future.
</p>
</div>
